html,body
  height 100vh
  // height 20vh
  // background-color red

.page
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  // background-color yellow
  overflow-y auto
  -webkit-overflow-scrolling touch
  box-sizing border-box
  background-color $bg-color
  &__hd
    padding 40px
  &__title
    text-align left
    font-size $font-size-4
    font-weight 400
  &__desc
    margin-top 4px
    color $fc-1