// 基础全局变量（可自定义修改）
$base-font-family = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
$base-line-height = 1.5
$base-font-size = 16px
$text-color = #333
$bg-color = #ededed
$bg-color2 = #fff  
$fc-0 = rgba(0, 0, 0, .9)
$fc-1 = rgba(0, 0, 0, .55)
$fg-3 = rgba(0, 0, 0, .1)
$font-size-1 = 14px
$font-size-4 = 20px