.banner{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 360px;
}

.banner .rv-swiper__indicators {
  bottom: 10px;
}

.item {
  position: relative;
  width: 100%;
  text-align: center;
}

.image {
  width: 100%;
  display: block;
  height: 360px;
   /* 可根据需要调整高度 */
  object-fit: cover;
}

.title {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 28px;
  white-space: nowrap;
}