.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.h-screen {
  height: 100vh;
}
.fixed-loading {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.overflow-y-auto{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* styles.css */
.scroll-container {
  height: 500px;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}
