<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div id="list"></div>
<script>
const items = [
  {
    title: '标题一',
    description: '内容一'
  },
  {
    title: '标题二',
    description: '内容二'
  },
  {
    title: '标题三',
    description: '内容三'
  },
];

const container = document.getElementById('list');

const fragment = document.createDocumentFragment(); // 🌟 用 fragment 临时挂载

items.forEach(item => {
  const title = document.createElement('div');
  const desc = document.createElement('div');

  title.textContent = item.title;
  desc.textContent = item.description;

  fragment.appendChild(title);
  fragment.appendChild(desc);
});
// 一次性批量插入
container.appendChild(fragment); 
</script>
</body>
</html>