input[type='text'],
textarea,
select {
  padding: 4px 8px;
  margin: 8px 0;
  margin-right: 8px;
  font-size: 16px;
}

label {
  margin-left: 4px;
}
.page {
  padding: 32px;
  margin: 32px;
}

.emoji {
  font-size: 80px;
  transition: 0.5s;
}

.hidden {
  opacity: 0;
  transform: translateX(30px);
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.5, 1.5, 1.5);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
/* 在元素被插入之前生效，在元素被插入之后的下一帧移除。 */
.v-enter-from {
  opacity: 0;
}
/* 在整个进入过渡期间应用，从元素被插入开始直到过渡结束。 */
.v-enter-active {
  transition: 0.3s;
}
/* 在元素被插入之后下一帧生效（确保在此时它已经在 DOM 中），在过渡结束之后移除。 */
.v-enter-to {
  opacity: 1;
}
/* 在离开过渡开始时生效，在下一帧中被移除 */
.v-leave-from {
  opacity: 1;
}
/* 在整个离开过渡期间应用，从过渡开始直到过渡结束。 */
.v-leave-active {
  transition: 0.3s;
}
/* 在下一帧中生效（确保在此时它已经在 DOM 中），在过渡结束之后移除。 */
.v-leave-to {
  opacity: 0;
}
.slide-enter-from {
  opacity: 0;
  transform: translateX(30px);
}

.slide-enter-active {
  transition: 0.3s;
}

.slide-enter-to {
  opacity: 1;
}

.slide-leave-from {
  opacity: 1;
}

.slide-leave-active {
  transition: 0.3s;
}

.slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.pulse-enter-active {
  animation: pulse 1s;
}

.pulse-leave-active {
  animation: pulse 1s;
}

.v-move {
  /*transition: transform 3s;*/
  transition: 0.5s;
}